*,
*::before,
*::after {
  box-sizing: border-box;
}

header h1 {
    margin-bottom: 0;
}

header {
    margin-bottom: 1rem;
}

body {
    font-family: Georgia, serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    max-width: 716px;
    padding-left: 8px;
    padding-right: 8px;
    color: #333;
}

body > section {
    padding-top: 8px;
}

h3 {
    margin-bottom: 8px;
}

.time-period {
    font-style: italic;
}

.icon-envelope:before {
    content: "✉️";
}

.icon-link:before {
    content: "🔗";
}

.icon-location:before {
    content: "📍";
}

[class^="icon-"], [class*=" icon-"] {
    font-style: normal;
}

a, a:visited {
    color: rgb(0, 0, 238);
}

a.unstyled {
    text-decoration: none;
    color: inherit;
}

abbr[title] {
    text-decoration: none;
}

.visuallyhidden {
    display: none;
}

footer {
    border-top: 1px solid grey;
    margin-top: 2rem;
    font-size: 0.8rem;
}

footer div {
    padding-top: 1rem;
}

dl div {
    margin-bottom: 0.5rem;
}
